<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <br>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between aling-items-center" >
                    {{this.title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p>{{this.description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-sm" type="submit">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Bienvenido {{user.name}}</h1>
            <p class="lead">No hay notas existentes</p>
            <a href="/notes/add" class="btn btn-success btn-block">Crear Nota</a>
        </div>
    </div>
    {{/each}}
</div>


